.Landing{
    background: #fff url(https://s1.eestatic.com/2015/03/31/cocinillas/cocinillas_22257914_116018277_1706x960.jpg) center center/cover no-repeat;
    display: inline-block;
    font-size: 2.5rem;
    margin:5rem;
}